.modal-add-task {
  visibility: hidden;
}
.modal-change-task {
  visibility: hidden;
}
.modal-delete-task {
  visibility: hidden;
}
.modal-choose-action {
  visibility: hidden;
}

.taskItem {
  border: 2px solid gray;
}

